
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Help page</title>
    </head>
    <body>
     <div class="ct-pageWrapper" id="ct-js-wrapper">
  <section class="company-heading intro-type" id="parallax-one">
    <div class="container">
      <div class="row product-title-info">
        <div class="col-md-12">
          <h1>{{desc}}</h1>
        </div>
      </div>
    </div>

  </section>
</div>
   {{> footer}}
    </body>
</html>