<!DOCTYPE HTML>
<html>
    <head>
        <title>
            <meta charset="utf-8">
        </title>
    </head>
    <body>
        <h3><b>this page coming using middle ware</b></h3>
    </body>
</html>